---
layout: default
---
<div class="post">

  <header class="post-header">
    <div class="row">
        <div class="col-md-10">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </div>
        <div class="col-md-2">
            <button id="fullscreen">Fullscreen</button>
            <div id="volume">
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" href="#">Exercises<span class="caret"></span></button>
                <ul id="exerciseMenu" class="dropdown-menu"> 
                </ul>
            </div>
        </div>
    </div>
  </header>
    
  <!-- All the necessary boxes for the webapp -->
  <div class="row">
        <div class="col-md-12">
            <div class="progress">
                <div id="progressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    0:00 
                </div> 
                <div id="regressBar" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    0:00 
                </div> 
            </div>
        </div>  
  </div>
  <div class="row">
        <div class="col-md-8">
            You're currently doing:
            <h2 id="current-name">
                "Exercise Name"
            </h2>
            <img src="http://media-cache-ec0.pinimg.com/736x/45/a1/65/45a1651fb22a257011316493d7b150c4.jpg" alt="exercise name" style="max-height:200px" id="current-img"/>
            <p id="current-descrip">
                Exercise description that is blah blah very interesting etc. etc. Lots more text here maybe.
            </p>
        </div>
        <div class="col-md-4">
            Next you'll be doing:
            <h2 id="next-name">
                "Exercise Name"
            </h2>
            <img src="http://media-cache-ec0.pinimg.com/736x/45/a1/65/45a1651fb22a257011316493d7b150c4.jpg" alt="exercise name" style="max-height:200px" id="next-img"/>
            <p id="next-descrip">
                Exercise description that is blah blah very interesting etc. etc. Lots more text here maybe.
            </p>
        </div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <div id="count-down">
            <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="50px" height="50px">
            <g><path id="light1" d="m 24,13 a 11,11 0 1 1 -22,0 11,11 0 1 1 22,0 z" style="fill:#00ff2d;fill-opacity:1;stroke:black;stroke-width:2;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/></g>
            </svg>
            <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="50px" height="50px">
            <g><path id="light2" d="m 24,13 a 11,11 0 1 1 -22,0 11,11 0 1 1 22,0 z" style="fill:#00ff2d;fill-opacity:1;stroke:black;stroke-width:2;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/></g>
            </svg>
            <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="50px" height="50px">
            <g><path id="light3" d="m 24,13 a 11,11 0 1 1 -22,0 11,11 0 1 1 22,0 z" style="fill:#00ff2d;fill-opacity:1;stroke:black;stroke-width:2;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/></g>
        </div>
        <div>
            <h1 id="timer">
                Go for 02:12:32     
            </h1>
            <button id="button_start">Start</button>
        </div>
    </div>
    <div class="col-md-4">
        <h3 id="next-time">
            This will go for 1:00
        </h3>
    </div>
  </div>
  
  <!-- The workout content -->
    {{ content }}

  {% include workout.html %}

</div>
