---
layout: default
---

<div class="home">

  <h1 class="page-heading">General</h1>
  <ul class="post-list">
    {% for post in site.posts %}
        {% if post.categories "workouts" and post.categories contains "30min" and post.categories contains "general"%}
          <li>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {% if post.description %}
                <p>{{ post.description }}</p>
            {% endif %}
          </li>
        {% endif %}
    {% endfor %}
  </ul>
  <h1 class="page-heading">Core</h1>
  <ul class="post-list">
    {% for post in site.posts %}
        {% if post.categories "workouts" and post.categories contains "30min" and post.categories contains "core"%}
          <li>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {% if post.description %}
                <p>{{ post.description }}</p>
            {% endif %}
          </li>
        {% endif %}
    {% endfor %}
  </ul>
  <h1 class="page-heading">Arms</h1>
  <ul class="post-list">
    {% for post in site.posts %}
        {% if post.categories "workouts" and post.categories contains "30min" and post.categories contains "arms"%}
          <li>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {% if post.description %}
                <p>{{ post.description }}</p>
            {% endif %}
          </li>
        {% endif %}
    {% endfor %}
  </ul>
  <h1 class="page-heading">Legs</h1>
  <ul class="post-list">
    {% for post in site.posts %}
        {% if post.categories "workouts" and post.categories contains "30min" and post.categories contains "legs"%}
          <li>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {% if post.description %}
                <p>{{ post.description }}</p>
            {% endif %}
          </li>
        {% endif %}
    {% endfor %}
  </ul>
  <h1 class="page-heading">Judo</h1>
  <ul class="post-list">
    {% for post in site.posts %}
        {% if post.categories "workouts" and post.categories contains "30min" and post.categories contains "judo"%}
          <li>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {% if post.description %}
                <p>{{ post.description }}</p>
            {% endif %}
          </li>
        {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
